.weather {
color: white;
}

.header {
    text-align: center;
    background-color: rgba(31, 31, 31, 0.836);
}

.fas .fa-search {
    color:blue;
}

#day-forecast {
    display: block;
}

.jumbotron {
    border-style: solid;
    border-color: darkslategray;
    border-width: 1px;
    padding: -25px;
}

.forecast-jumbo {
    border-radius: 10%;
}

#forecast-card {
   
}

.city {
    margin-bottom: 50px;
}

.container {
    max-width: 100%;
}

.card {
    background-color: blue;
    color: white;
}
#weathericon {
    background-color: gray;
}